<!DOCTYPE HTML>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('./partials/head.ejs');%>
<title>NodeJS Test | <%= whateverTitle%></title>
  <h1 style='color: red'>Error 404: OOPS!</h1>
<body>
  <p>Page Not Found</p>
  <%- include('./partials/nav.ejs');%>
  <%- include('./partials/footer.ejs');%>
</body>
</html>
