<!DOCTYPE HTML>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('./partials/head.ejs')%>
<title>NodeJS Test | <%= whateverTitle%></title>
<p><%=para[2].body%></p>
<body>
</body>
</html>
