<!DOCTYPE HTML>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('./partials/head.ejs');%>
<title>NodeJS Test | <%= whateverTitle%></title>
<body>
	<p>This page is located in: <div>"~/node-crash-course/views/index.ejs"</div></p>
	<img src=/raz0229.png>
	<p class="auth">Author: RAZ0229@Kali</p>

	<%- include('./partials/nav.ejs');%> <!--//ejs importing <nav>-->

	<a class="download" href=/raz0229.png>Click here to download this image</a>

	<%- include('./partials/footer.ejs');%>

</body>
<style>
	h2 {
	  border: solid 1px black;
	  background-color: #ba4d4c;
	  padding: 20px;
	  text-align: center;
	}
	p {
	  text-align: center;
	  font-family: sans-serif;
	}
	div {
	  color: blue;
	  text-align: center;
	}
	.auth {
	  border: solid 1px black;
	  color: green;
	}
	img {
	  display: block;
	  width: 200px;
	  margin: auto;
	}
	.download {
		color: #040506;
		border: solid 1px black;
		padding: 0 auto;
		text-decoration-line: none;
	}
</style>
</html>
